<%- include('partials/header'); -%>

<H2>GET an existing vaccination record</H2>

<form class="form-horizontal" action="/getvacc" method="GET">
  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label col-sm-5" for="immunizationid">Immunization FHIR resource ID</label>
      <input type="text" class="form-control" name="immunizationid">
   </div>   
  </div>
  <br><br>
  <button class="btn btn-info">Get vaccination</button>
</form>

<p>
<p>FHIR ID = <%= FHIRId %>
<p>Vaccination procedure code = <%= vaccineProcedureCode %>
<p>Vaccination procedure description = <%= vaccineProcedureDescription %>
<p>Vaccination product code = <%= vaccineProductCode %>
<p>Vaccination product description = <%= vaccineProductDescription %>

<%- include('partials/footer'); -%>